# Logs
*.log
error_log
public/error_log

# OS / Editor
.DS_Store
Thumbs.db
/.fleet
/.idea
/.vscode
/.zed
/.nova

# Environment
.env
.env.*
/auth.json

# PHP / Laravel
/phpunit.result.cache
/.phpunit.cache
/bootstrap/cache/*
!/bootstrap/cache/.gitignore

# Storage (ignore everything except placeholder)
/storage/*
!/storage/.gitignore

# Frontend
/node_modules
/public/hot
/public/storage
/public/build/*.map

# Dependencies (keep OR remove depending on workflow)
/vendor

# Misc
vendor.zip
Homestead.json
Homestead.yaml